NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
SUPABASE_SECRET_KEY=
TURNSTILE_SECRET_KEY=
N8N_CONTACT_WEBHOOK_URL=
BASIC_AUTH_USER=
BASIC_AUTH_PASSWORD=
DISCORD_CONTACT_WEBHOOK_URL=
ASSEMBLYAI_API_KEY=
RESEND_API_KEY=
EMAIL_FROM=SBI Portal <notifications@utsbi.org>
